body{
  background-color: #000 !important;
  color: #fff ;
}
ul{
  list-style-type: none;
}
a:hover {
  cursor: pointer;
}
.container{
  max-width: 95vw !important;
  margin-top: 75px !important;
}
.top{
  height: 25vh;
  width: 99vw;
  text-align: center;
  background-color: #343a40 !important;
  color: #fff;
  -webkit-box-shadow: 7px 7px 20px 0px rgba(245,245,245,0.51); 
  box-shadow: 7px 7px 20px 0px rgba(245,245,245,0.51);
}
.left, .right{
  height: 55vh;
  width: 47vw;
  padding: 1rem 1rem !important;
  background-color: #343a40 !important;
  color: #fff;
  -webkit-box-shadow: 7px 7px 20px 0px rgba(245,245,245,0.51); 
  box-shadow: 7px 7px 20px 0px rgba(245,245,245,0.51);
}
.left {
  margin-right: 0.5vw;
}
.right{
  margin-left: 0.5vw;
}
.phrase{
  font-size: 25px;
}
.pressed {
  box-shadow: 0 0 20px white;
  background-color: #28a745 !important;
}