body{
  background-color: #e9ecef !important;
  color: black;
}
ul{
  list-style-type: none;
}
a:hover {
  cursor: pointer;
}
.container{
  max-width: 95vw !important;
  margin-top: 75px !important;
}
.top{
  height: 25vh;
  width: 99vw;
  border: 0.25vw solid #000;
  background-color: whitesmoke !important;
  text-align: center;
}
.left, .right{
  height: 55vh;
  width: 47vw;
  border: 0.25vw solid #000;
  padding: 1rem 1rem !important;
  background-color: whitesmoke !important;
}

.left {
  margin-right: 0.5vw;
}
.right{
  margin-left: 0.5vw;
}
.phrase{
  font-size: 25px;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: #28a745 !important;
}